@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
}

@layer components {
  .content-item {
    @apply my-4 border-2 border-yellow-500;
  }

  .content-section-title {
    @apply text-lg font-bold;
  }
}
